<mat-card class="card">
  <mat-card-title>書籍登録</mat-card-title>
  <mat-card-content>
    <div class="content">
      <mat-form-field class="input" appearance="fill">
        <mat-label>書籍名</mat-label>
        <input matInput id="name" [(ngModel)]="book.name" placeholder="name" />
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>あらすじ</mat-label>
        <textarea
          matInput
          id="detail"
          [(ngModel)]="book.detail"
          placeholder="detail"
        ></textarea>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>評価点</mat-label>
        <input
          matInput
          id="evaluation"
          [(ngModel)]="book.evaluation"
          placeholder="evaluation"
        />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="addBook()">追加</button>
  </mat-card-actions>
</mat-card>

<app-card [bookList]="bookList" [buttonText]="'削除'"></app-card>
