<mat-card class="card">
  <mat-card-header>
    <mat-card-title>書籍登録</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <mat-form-field class="input" appearance="fill">
        <mat-label>書籍名</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>あらすじ</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>評価点</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary">追加</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card" *ngFor="let book of bookList">
  <mat-card-header>
    <mat-card-title>{{ book.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>{{ book.detail }}</div>
    <div>{{ book.evaluation }}</div>
  </mat-card-content>
</mat-card>

<mat-card class="card">
  <mat-card-title>アンドロイドは電気羊の夢を見るか？</mat-card-title>

  <mat-card-content>
    <div>
      第三次大戦後の未来、サンフランシスコを舞台に賞金稼ぎのリック・デッカードが、火星から逃亡してきた8体のアンドロイドを「処理」するというあらすじ
    </div>
    <div>評価:90点</div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-title>岩田さん:岩田聡はこんなことを話していた。</mat-card-title>
  <mat-card-content>
    <div>任天堂の元社長、岩田聡さんのことばをまとめた本</div>
    <div>評価:90点</div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn">削除</button>
  </mat-card-actions>
</mat-card>
