.filler {
  flex: 1 1 auto;
}

.form-card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: black;
}

.input {
  width: 40%;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
